build/
clion-*/
cmake-*/
out/
.vs/
.vscode/
.idea/
.clion/
notebooks/.local/share/jupyter/runtime/notebook_cookie_secret
notebooks/.rootnb/.rootcommit
notebooks/.rootnb/jupyter_notebook_config.py
notebooks/.rootnb/migrated
notebooks/.rootnb/JsMVA/css/NetworkDesigner.css
notebooks/.rootnb/JsMVA/css/NetworkDesigner.min.css
notebooks/.rootnb/JsMVA/css/TMVAHTMLOutput.css
notebooks/.rootnb/JsMVA/css/TMVAHTMLOutput.min.css
notebooks/.rootnb/JsMVA/js/DecisionTree.js
notebooks/.rootnb/JsMVA/js/DecisionTree.min.js
notebooks/.rootnb/JsMVA/js/JsMVA.js
notebooks/.rootnb/JsMVA/js/JsMVA.min.js
notebooks/.rootnb/JsMVA/js/NetworkDesigner.js
notebooks/.rootnb/JsMVA/js/NetworkDesigner.min.js
notebooks/.rootnb/JsMVA/js/NeuralNetwork.js
notebooks/.rootnb/JsMVA/js/NeuralNetwork.min.js
notebooks/.rootnb/__pycache__/jupyter_notebook_config.cpython-39.pyc
notebooks/.rootnb/custom/custom.css
notebooks/.rootnb/custom/custom.js
notebooks/.rootnb/custom/root-banner_99x33.jpg
notebooks/.rootnb/custom/root-logo-darkblue_33x33.png
notebooks/.rootnb/kernels/root/kernel.json
notebooks/.rootnb/kernels/root/logo-64x64.png
notebooks/.bash_history
notebooks/.root_hist
